*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 32px;
    color: #2D3142;
}
header a{
    color: #2D3142;
    text-decoration: none;
    margin-left: 40px;
    justify-content: right;
}
header a:hover{
    text-decoration: underline;
    color: #BFC0C0;
}
header img{
    width: 20%;
}
header nav{
    width: 1000px;
    display: flex;
    justify-content: right;
}

/* Forsiden */
.forside{
    width: auto;
    margin: auto;
    padding: 30%;
    background-image: url(img/IMG_8399.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.forside h1{
    font-size: 45px;
    padding-left: 41px;
}
.forside p{
    font-size: 25px;
    padding-left: 17px;
    width: 700px;
}

/* Om */
.om{
    display: flex;
    justify-content: space-between;
    background-color: #2D3142;
    color: #BFC0C0;
    padding: 40px;
}
.om h1{
    margin: 60px;
    font-size: 60px;
}
.om p{
    margin: 60px;
    font-size: 20px;
    width: 800px;
}

/* Projekter */
.projekter{
    background-color:#2d3142 ;
    height: 892px;
    display: flex;
    color: #BFC0C0;
    display: block;
}
.beskrivelse{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #BFC0C0;
}
.beskrivelse a{
    color: #BFC0C0;
    text-decoration: none;
}
.beskrivelse a:hover{
    color: #637596;
}

/* Projekter tom side */
.tom{
    background-color: #2D3142;
    color: #BFC0C0;
    text-align: center;
    padding: 408px;
}
/* Underside i projekterne. Lige nu er det kun ved billeder/photoshop, må se på sigt om det bliver ved alle undersiderne fælles, eller om koden nedenfor kun skal være ved den */
.billede{
    background-color: #2D3142;
    height: 892px;
    display: flex;
    justify-content: space-evenly;
}
.hej{
    background-color: #BFC0C0;
    padding: 40px;
    width: 600px;
    margin: 50px;
    color: #2D3142;
    height: 700px;
}
.billede p{
    font-size: 18px;
    color: black;
}

/* Kontakt */
 .kontakt{
    padding: 50px;
    font-size: 40px;
    background-color:#2d3142 ;
    color: #BFC0C0;
    height: 793px;
    display: flex;
  }
  .kontakt div{
      margin: 20px;
      padding: 12px;
  }
  .kontakt button{
      width: 120px;
      height: 40px;
      background-image: linear-gradient(#4F5D75, #637596);
      color: #BFC0C0;
      margin-left: 40px;
      font-size: 20px;
  }
  .kontakt input{
      width: 600px;
      height: 40px;
      font-size: 20px;
  }
  .kontakt textarea{
      width: 600px;
      height: 120px;
      font-size: 20px;
  }
  .kontakt img{
      padding-top: 6%;
      padding-left: 110px;
  } 